#{extends 'main.html' /}
<script type="text/javascript">
            function test(){
              
               
                var user = $("#user").val();
                  event.preventDefault();
              
              
              $.get('http://localhost:9000/getUser/' + user, function(data) {
  $('#puls').html(data);
  alert('Load was performed.');
});
              
            
                /*$("#puls").load('http://localhost:9000/getUser/' + user,
                function() {
                $('#puls').css('color', 'red')
                  
            
                    alert("code was loaded");
                  
                }
            )
     *
     *
     *                  $.ajax( {
type:'Get',
url:'http://localhost:9000/getUser/'+ user,
success:function(data) {
 alert(data);
}

})
     *
     *
     */
            }
        </script>
        
        



<div>
    <form   onsubmit="test()">
        Username: <input type="text" id="user" name="user" />
        <input type="submit"  value="Submit" />
    </form>
    



     
    
 <div id="puls">
hei

    </div>
   
</div>