<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <script type="text/javascript">
            function(){
                alert("code was loaded");
               
                
         
              
              
            
                $("#kake").load("http://localhost:9000/getUser/test")
                
            
            }
        </script>
    </head>
    <body>
           
        
        <div id="kake"></div>
        
    </body>
</html>
