
<script type="text/javascript">
            function test(){
              
               
                var user = $("#user").val();
                  event.preventDefault();
              
              
              $.get('http://localhost:9000/getUser/' + user, function(data) {
  $('#puls').html(data);
 
});
              
            
            }
        </script>
        
        



        <div id="puls">
    <form   onsubmit="test()">
        Username: <input type="text" id="user" name="user" />
        <input type="submit"  value="Submit" />
    </form>
    



     
 
   
</div>