.frame{

    color: black;
    font-size: 15px;
    background: #3399CC;
    text-align: center;
    width: 200px;
    padding: 3px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;

}

#result{
    float: left;
    width:100px;
    color: red;
    font-size: 1em;
}
